body {
    font-family: frutiger, sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #179c7d;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #aca9a9;
}

.main {
    margin-left: 220px;
    min-width: 400px;
    margin-top: 40px
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.headerIMG {
    float: right;
    width: 40%;
    height: auto
}

.heading {
    top: 15px;
    left: 250px;
    width: 70%;
    color: rgb(0, 0, 0);
    font-size: 1vw;
}

/* Fraunhofer Headline */
h3 {
    color: #179c7d;
    font-size: 2vw;
}


p {
    word-wrap: break-word;
    width: 70%;
    padding-left: 3%;
}

.left {
    padding-left: 15%;
    width: 35%
}

.blastCode {
    padding-left: 10%;
    width: 50%;
    min-width: 500px
}

.center {
    padding-left: 15%;
}