.heading {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 65%;
    color: white;
    padding-top: 1%;
    padding-left: 50px;
}

* {
    font-family: frutiger;
    font-size: 1.3vw;
}

h1 {
    font-weight: bold;
    font-size: 4vw
}

h2 {
    font-weight: bold;
    font-size: 2vw;
}

/* Fraunhofer Headline */
h3 {
    color: #179c7d;
    font-size: 2vw;
}

.center-text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 650px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: black;
}

.numbertext {
    color: #252525;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}